<launch>
    <!-- Clever configuration for testing in sitl -->
    <arg name="ip" default="127.0.0.1"/>
    <arg name="rosbridge" default="false"/>
    <arg name="optical_flow" default="false"/>
    <arg name="aruco" default="false"/>

    <!-- camera is oriented downward, camera cable goes backward [option 1] -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="main_camera_frame" args="0.05 0 -0.07 -1.5707963 0 3.1415926 base_link main_camera_optical"/>

    <!-- camera visualization markers -->
    <node pkg="clever" type="camera_markers" ns="main_camera" name="main_camera_markers">
        <param name="scale" value="3.0"/>
    </node>

    <include file="$(find clever)/launch/clever.launch">
        <arg name="fcu_conn" value="udp"/>
        <arg name="fcu_ip" value="$(arg ip)"/>
        <arg name="gcs_bridge" value="false"/>
        <arg name="optical_flow" value="$(arg optical_flow)"/>
        <arg name="web_video_server" default="false"/>
        <arg name="main_camera" default="false"/>
        <arg name="rosbridge" value="$(arg rosbridge)"/>
        <arg name="aruco" default="$(arg aruco)"/>
        <arg name="rangefinder_vl53l1x" default="false"/>
        <arg name="rc" default="false"/>
    </include>
</launch>
