#!/usr/bin/env python

PACKAGE = "clover"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("roi", int_t, 0, "Optical flow Region-of-Interest", 128, 1, 256)

exit(gen.generate(PACKAGE, "optical_flow", "OptFlow"))
